@use './../mixins' as *;

.btn {
  --btn-color: var(--black);
  --btn-background: var(--bg);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 1rem;
  background-color: var(--btn-background);
  border-radius: 3rem;

  font-weight: 500;
  font-size: 1.4rem;
  line-height: 120%;
  text-align: center;
  color: var(--btn-color);
  pointer-events: all;

  i {
    font-size: var(--btn-icon-size);
    color: var(--btn-icon-color);

    width: var(--btn-icon-size);
    height: var(--btn-icon-size);
    background-color: var(--btn-icon-background);
    border-radius: var(--btn-icon-radius);
  }

  &--beige {
    --btn-background: var(--bg);

    border: 0.1rem solid var(--beige);
  }

  &--green {
    --btn-color: var(--white);
    --btn-background: var(--green);
  }

  &--icon {
    --btn-icon-size: 2.4rem;
    --btn-icon-color: var(--white);

    gap: 0.8rem;
  }

  &--arrow {
    --btn-icon-size: 2.4rem;
    --btn-icon-color: var(--green);
    --btn-icon-background: var(--white);
    --btn-icon-radius: 50%;

    justify-content: space-between;
    padding: 1rem 1rem 1rem 1.5rem;
  }

  &--remove {
    --btn-color: var(--red);
  }

  &:disabled {
    --btn-background: var(--green-50);

    pointer-events: none;
  }

  &--count {
    min-width: 1.9rem;
    min-height: 1.9rem;
    padding: 0.4rem 0.3rem;
    border-radius: 50%;
    background-color: var(--red);

    font-family: var(--third-family);
    font-weight: 800;
    font-size: 1rem;
    line-height: 100%;
    color: var(--bg);
    text-align: center;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  &__text {
    display: inline-flex;
    gap: 0.5rem;

    a {
      font-weight: 900;
      color: var(--green);
      text-decoration: underline;
    }
  }
}