@use './../mixins' as *;

.form {

  &-body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.8rem;
  }

  &-group {}

  &-input {
    width: 100%;
    height: 5rem;
    padding: 0 2rem;
    border-radius: 0.4rem;
    border: 0.1rem solid var(--beige);
    background-color: var(--bg);
    transition: all 0.3s ease;

    font-weight: 500;
    font-size: 1.4rem;
    line-height: 120%;
    color: var(--black);

    &::placeholder {
      color: var(--black-50);
    }

    #search & {
      border-radius: 3rem;
      height: 4.4rem;
    }

    &.filled,
    &:focus,
    &:active {
      border-color: var(--green);
      background-color: var(--white);
    }
  }

  &-label {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    font-weight: 500;
    font-size: 1.4rem;
    line-height: 120%;
  }

  &-textarea {
    width: 100%;
    padding: 1.6rem 2rem;
    border-radius: 0.4rem;
    border: 0.1rem solid var(--beige);
    background-color: var(--bg);
    resize: none;

    font-weight: 500;
    font-size: 1.4rem;
    line-height: 120%;
    color: var(--black);

    &::placeholder {
      color: var(--black-50);
    }
  }

  &-file {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8.4rem;
    height: 5.6rem;
    border-radius: 0.4rem;
    background-color: var(--bg);

    &::before {
      content: "";
      width: 3rem;
      height: 3rem;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik0xMi4yMzYzIDNDMTEuNDc4MyAzIDEwLjc4NjMgMy40Mjc0NyAxMC40NDczIDQuMTA1NDdMMTAuMDUyNyA0Ljg5NDUzQzkuNzEzNzMgNS41NzE1MyA5LjAyMDY3IDYgOC4yNjM2NyA2SDVDMy44OTUgNiAzIDYuODk1IDMgOFYyM0MzIDI0LjEwNSAzLjg5NSAyNSA1IDI1SDI1QzI2LjEwNSAyNSAyNyAyNC4xMDUgMjcgMjNWOEMyNyA2Ljg5NSAyNi4xMDUgNiAyNSA2SDIxLjczNjNDMjAuOTc4MyA2IDIwLjI4NjMgNS41NzI1MyAxOS45NDczIDQuODk0NTNMMTkuNTUyNyA0LjEwNTQ3QzE5LjIxMzcgMy40Mjg0NyAxOC41MjA3IDMgMTcuNzYzNyAzSDEyLjIzNjNaTTYgNEM1LjQ0OCA0IDUgNC40NDggNSA1SDhDOCA0LjQ0OCA3LjU1MiA0IDcgNEg2Wk0xNSA4QzE4Ljg2IDggMjIgMTEuMTQgMjIgMTVDMjIgMTguODYgMTguODYgMjIgMTUgMjJDMTEuMTQgMjIgOCAxOC44NiA4IDE1QzggMTEuMTQgMTEuMTQgOCAxNSA4Wk0yNCA4QzI0LjU1MiA4IDI1IDguNDQ4IDI1IDlDMjUgOS41NTIgMjQuNTUyIDEwIDI0IDEwQzIzLjQ0OCAxMCAyMyA5LjU1MiAyMyA5QzIzIDguNDQ4IDIzLjQ0OCA4IDI0IDhaTTE1IDEwQzEzLjY3MzkgMTAgMTIuNDAyMSAxMC41MjY4IDExLjQ2NDUgMTEuNDY0NUMxMC41MjY4IDEyLjQwMjEgMTAgMTMuNjczOSAxMCAxNUMxMCAxNi4zMjYxIDEwLjUyNjggMTcuNTk3OSAxMS40NjQ1IDE4LjUzNTVDMTIuNDAyMSAxOS40NzMyIDEzLjY3MzkgMjAgMTUgMjBDMTYuMzI2MSAyMCAxNy41OTc5IDE5LjQ3MzIgMTguNTM1NSAxOC41MzU1QzE5LjQ3MzIgMTcuNTk3OSAyMCAxNi4zMjYxIDIwIDE1QzIwIDEzLjY3MzkgMTkuNDczMiAxMi40MDIxIDE4LjUzNTUgMTEuNDY0NUMxNy41OTc5IDEwLjUyNjggMTYuMzI2MSAxMCAxNSAxMFoiIGZpbGw9IiNGREY2RUMiLz4NCjwvc3ZnPg0K);
      background-repeat: no-repeat;
      background-size: 100%;
    }

    &-input {
      display: none;
    }
  }

  &-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    i {
      font-size: 3rem;
      color: var(--orange-light);
    }
  }

  &-foot {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &-text {
    color: var(--green);

    a {
      font-weight: 700;
    }
  }

  &-code {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.4rem 1rem 2.3rem;
    border-radius: 0.4rem;
    border: 0.1rem solid var(--beige);
    background-color: var(--bg);
    outline: none;

    font-family: var(--second-family);
    font-weight: 900;
    font-size: 4rem;
    line-height: 120%;
    text-align: center;

    &::placeholder {
      font-weight: 400;
      font-size: 2rem;
      line-height: 120%;
      color: var(--black);
      text-align: center;
    }

    &-wrap {
      display: flex;
      flex-direction: row;
      gap: 0.8rem;

      * {
        width: calc(20% - ((0.8rem*4)/5));
      }
    }
  }

  &-radio {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    &-icon {
      width: 5rem;
      height: 5rem;
      background-color: var(--bg);
      border-radius: 5rem;
      flex-shrink: 0;

      font-size: 5rem;
      color: var(--green);
    }

    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 1rem 1.6rem 1rem 2rem;
      background-color: var(--bg);
      border-radius: 5rem;

      * {
        font-family: var(--third-family);
        font-weight: 700;
        line-height: 100%;
      }
    }

    &-input {
      display: grid;
      place-content: center;
      width: 2rem;
      height: 2rem;
      flex-shrink: 0;
      border: 0.1rem solid var(--green);
      border-radius: 50%;
      background-color: transparent;
      outline: none;
      cursor: pointer;
      appearance: none;
      -webkit-appearance: none;

      &::before {
        content: "";
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        background-color: var(--green);
      }

      &:checked {

        &::before {
          transform: scale(1);
        }
      }
    }
  }

  &-results {
    margin-top: 1rem;

    li {
      margin-bottom: 2rem;
      padding-left: 1.5rem;

      font-weight: 500;
      font-size: 1.4rem;

      &::before {
        display: none;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}