@use './../mixins' as *;

.layout {

  &--carousel {

    .layout {

      &__inner {
        gap: 1.5rem;
      }

      &__items {
        display: flex;
        flex-direction: row;
        gap: 0.8rem;

        overflow-x: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;

        padding: 0 var(--container-padding);
        margin-left: calc(var(--container-padding) * -1);
        width: calc(100% + (var(--container-padding) * 2));

        @include domd {
          gap: 2rem;
        }

        &::-webkit-scrollbar {
          display: none;
          width: 0;
          height: 0;
          padding: 0;
          margin: 0;
        }
      }
    }

    .card {
      width: 14.4rem;

      @include domd {
        width: calc(25% - (6rem / 4));
      }

      &__items {
        grid-template-columns: 1fr auto;
      }
    }
  }

  &--first {
    padding-top: 0.8rem;
    margin-bottom: 0;

    .btn {
      height: 3rem;
      padding: 0.3rem 0.3rem 0.3rem 1.5rem;

      font-weight: 500;
      font-size: 1.2rem;

      a {}
    }
  }

  .container {
    height: fit-content;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    // gap: 2rem;
    gap: 1.5rem;
    height: 100%;
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;

    &-title {

      span {
        color: var(--red);
        font-style: italic;
      }
    }

    &-cover {
      border-radius: 1.6rem;
      overflow: hidden;
      width: 100%;
      height: 24.8rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-tags {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      pointer-events: none;

      position: absolute;
      top: 1.5rem;
      left: 0;
      z-index: 1;
    }

    &-tag {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
      width: fit-content;
      padding: 0.5rem 1rem;
      border-radius: 1.6rem;

      font-weight: 700;
      font-size: 1rem;
      line-height: 100%;
      color: var(--white);

      i {
        font-size: 2rem;
      }

      &.tags-top {
        background-color: var(--green-light);
      }

      &.tags-hot {
        background-color: var(--red);
      }
    }

    &-banner {
      border-radius: 1.6rem;
      overflow: hidden;
      width: 100%;
      height: auto;

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      a,
      button {
        width: fit-content;
        color: var(--green);
      }
    }

    &-tel {
      font-weight: 700 !important;
    }
  }

  &__rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    padding: 0 1.5rem;
    height: 3rem;
    border-radius: 1.6rem;
    background-color: var(--orange-light);

    color: var(--white);

    &-text {
      font-weight: 700;
      font-size: 1.2rem;
      line-height: 100%;
    }

    i {
      font-size: 1.2rem;
    }
  }

  &__counts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    padding: 0 1.5rem;
    width: fit-content;
    height: 3rem;
    border-radius: 1.6rem;
    background-color: var(--bg);

    font-weight: 700;
    font-size: 1.2rem;
    line-height: 100%;
  }

  &__share {
    font-size: 3rem;
    color: var(--black);

    background-color: var(--bg);
    border-radius: 50%;
  }

  &__body {
    display: flex;
    flex-direction: column;
    // gap: 2rem;
    gap: 1.5rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-wrap {
      display: flex;
      flex-direction: row;
      gap: 0.8rem;
    }

    &__name {}

    &__weight {
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 120%;
      color: #0A2533;
      opacity: 0.5;
    }

    &-time {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
      width: fit-content;
      padding: 0.7rem 1rem;
      background-color: var(--bg);
      border: 0.1rem solid var(--beige);
      border-radius: 3rem;

      i {
        font-size: 1.6rem;
        color: var(--green);
      }
    }
  }

  &__foot {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;

    &::before {
      content: "";
      width: 100%;
      height: 12rem;
      background: linear-gradient(0deg, #0A2533 22.45%, rgba(255, 255, 255, 0) 86.33%);
      pointer-events: none;

      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
    }

    &-inner {
      display: flex;
      flex-direction: row;
      gap: 0.8rem;
      padding: 1.5rem;
      border-radius: 1.6rem 1.6rem 0 0;
      background-color: var(--white);
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &-title {}

    &-text {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      max-width: 35rem;

      a {
        font-weight: 900;
        font-size: 1.4rem;
        line-height: 120%;
        color: var(--green);
        text-decoration: underline;
        margin-left: 0.5rem;
      }

      p {
        font-size: 1.2rem;
        // color: var(--green);
      }
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    &-price {}

    &-values {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1.5rem;
    }

    &-value {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.8rem;

      i {
        font-size: 2.4rem;
        color: var(--green);
      }

      p {
        font-weight: 500;
        font-size: 1.4rem;
      }
    }

    &-btns {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0.8rem;
      width: fit-content;

      .btn {
        width: fit-content;
        height: 3rem;
        padding: 0 2rem;

        font-weight: 700;
        font-size: 1.2rem;
      }
    }
  }

  &__list {

    li {
      margin-bottom: 1.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__text {

    &--italic {

      * {
        font-weight: 700;
        font-style: italic;
      }
    }
  }

  &__img {
    border-radius: 1.2rem;
    overflow: hidden;
    width: 100%;
    height: 35rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__time {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    padding: 0.7rem 1rem;
    background-color: var(--bg);
    border: 0.1rem solid var(--beige);
    border-radius: 3rem;

    i {
      font-size: 1.6rem;
      color: var(--green);
    }

    p {
      font-weight: 500;
      font-size: 1rem;
      line-height: 120%;
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;

    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;

    background-color: var(--white);
    padding: 0.5rem var(--container-padding);
    margin-top: -0.5rem;
    margin-left: calc(var(--container-padding) * -1);
    width: calc(100% + (var(--container-padding) * 2));
    transition: top 0.5s ease;

    position: sticky;
    top: 16.5rem;
    z-index: 2;

    &::-webkit-scrollbar {
      display: none;
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
    }

    &.is-fixed {
      position: fixed;
      top: 21rem;
      z-index: 20;
    }

    .header-out & {
      top: 10rem;
    }

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      height: 4rem;
      padding: 1rem 2rem;
      background-color: var(--bg);
      border-radius: 3rem;
      flex-shrink: 0;
      scroll-snap-align: center;

      font-weight: 500;
      font-size: 1.4rem;
      line-height: 120%;

      &.active {
        background-color: var(--green);

        color: var(--white);
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
    z-index: 1;

    @include domd {
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
    }
  }

  &__btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
  }

  &__btn {
    gap: 0.8rem;

    font-weight: 500;

    i {
      font-size: 2.4rem;
    }

    &--reg,
    &--login {

      .login & {
        display: none;
      }
    }

    &--logout {
      display: none;

      .login & {
        display: flex;
      }
    }
  }

  &__banner {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &-link {
      width: 100%;
      height: 17.8rem;
      border-radius: 1.6rem;
      overflow: hidden;

      position: relative;

      i {
        background-color: var(--white);
        border-radius: 50%;
        font-size: 3rem;
        color: var(--green);

        position: absolute;
        bottom: 2rem;
        left: 2rem;
      }

      &:hover i {

        @include domd {
          background-color: var(--green);

          color: var(--white);
        }
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &-block {
      width: 100%;
      height: 20.7rem;
      border-radius: 1.6rem;
      overflow: hidden;
      padding: 2.4rem 2rem 2rem 2rem;
      border: 0.1rem solid var(--beige);
      background-color: var(--bg);
      pointer-events: none;

      position: relative;

      .login & {
        background-color: var(--green);
        pointer-events: all;
      }
    }

    &-img {
      width: 100%;
      height: 100%;
      pointer-events: none;

      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2rem;
      height: 100%;

      position: relative;
      z-index: 3;

      .login & {
        color: var(--white);
      }
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 1.3rem;
    }

    &-title {
      font-weight: 900;
      font-size: 1.4rem;
      line-height: 100%;
      text-transform: uppercase;
    }

    &-col {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
    }

    &-guess {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.3rem;
      height: 2.3rem;
      border-radius: 50%;
      background-color: var(--white);
      font-size: 2.3rem;

      .login & {
        color: var(--green);
      }
    }

    &-qr {
      width: 100%;
      height: auto;
      aspect-ratio: 1/1;
      border-radius: 1.6rem;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }

    &-icon {
      display: none;

      font-size: 6.3rem;
      color: var(--white);

      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      z-index: 4;

      .login & {
        display: block;
      }
    }
  }

  &__notice {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    min-height: 3rem;
    background: var(--bg);
    border: 0.1rem solid var(--beige);
    border-radius: 3rem;

    &-text {
      font-weight: 500;
      font-size: 1rem;
      line-height: 120%;

      a,
      button {
        font-weight: 700;
      }
    }
  }

  &__cashback {
    display: none;
    flex-direction: column;
    gap: 2.2rem;
    padding: 2rem;
    background-color: var(--bg);
    border-radius: 1.6rem;

    position: relative;

    .login & {
      display: flex;
    }

    &-head {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    &-progressbar {
      width: 100%;
      height: 0.8rem;

      progress {
        display: block;
        width: 100%;
        height: 0.8rem;
        border-radius: 0.4rem;
        background-color: var(--green);
        appearance: none;

        &::-webkit-progress-bar {
          background-color: var(--green);
          border-radius: 0.4rem;
        }

        &::-webkit-progress-value {
          background-color: var(--aqua);
          border-radius: 0.4rem;
        }

        &::-moz-progress-bar {
          background-color: var(--aqua);
          border-radius: 0.4rem;
        }
      }
    }

    i {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.4rem;
      height: 2.4rem;
      background-color: var(--white);
      border-radius: 50%;

      font-size: 2.4rem;
      color: var(--green);

      position: absolute;
      top: 2rem;
      right: 2rem;
    }
  }
}