@use './../mixins' as *;

h1,
.h1 {
  font-weight: 900;
  font-size: 3rem;
  line-height: 120%;
}

h2,
.h2 {
  font-weight: 900;
  font-size: 3rem;
  line-height: 120%;
}

h3 {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 120%;
}

h4,
.h4 {
  font-weight: 900;
  font-size: 2rem;
  line-height: 100%;
}

h5,
.h5 {
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 120%;
}

h6,
.h6 {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 120%;
}

p {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 120%;
}