@use './../mixins' as *;

.burger-btn {
  display: flex;
  align-items: center;
  width: fit-content;

  font-family: var(--fourth-family);
  font-style: italic;
  font-weight: 700;
  font-size: 2rem;
  line-height: 120%;
  color: var(--white);
  text-shadow: 0px 0px 9.5px var(--aqua-light);
}