@use './../mixins' as *;

.banner {

  &__link {
    display: block;
    width: 100%;
    height: 17.8rem;
    border-radius: 1.6rem;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    i {
      background-color: var(--white);
      border-radius: 50%;

      font-size: 3rem;
      color: var(--green);

      position: absolute;
      bottom: 2rem;
      left: 2rem;
    }

    &:hover i {

      @include domd {
        background-color: var(--green);

        color: var(--white);
      }
    }
  }
}