@font-face {
  font-family: 'FabricaIconFont';
  src:  url('fonts/FabricaIconFont.eot?x9hpxe');
  src:  url('fonts/FabricaIconFont.eot?x9hpxe#iefix') format('embedded-opentype'),
    url('fonts/FabricaIconFont.ttf?x9hpxe') format('truetype'),
    url('fonts/FabricaIconFont.woff?x9hpxe') format('woff'),
    url('fonts/FabricaIconFont.svg?x9hpxe#FabricaIconFont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'FabricaIconFont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-business-lunch:before {
  content: "\e900";
}
.icon-calories:before {
  content: "\e901";
}
.icon-carbohydrates:before {
  content: "\e902";
}
.icon-chef:before {
  content: "\e903";
}
.icon-chevron-right:before {
  content: "\e904";
}
.icon-clock:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e906";
}
.icon-cocktail:before {
  content: "\e907";
}
.icon-deserty:before {
  content: "\e908";
}
.icon-fat:before {
  content: "\e909";
}
.icon-filter:before {
  content: "\e90a";
}
.icon-goryacheye:before {
  content: "\e90b";
}
.icon-hookah:before {
  content: "\e90c";
}
.icon-hot:before {
  content: "\e90d";
}
.icon-like:before {
  content: "\e90e";
}
.icon-login:before {
  content: "\e90f";
}
.icon-lunch:before {
  content: "\e910";
}
.icon-meatballs:before {
  content: "\e911";
}
.icon-menu-card:before {
  content: "\e912";
}
.icon-menu-catering:before {
  content: "\e913";
}
.icon-menu-contacts:before {
  content: "\e914";
}
.icon-menu-geo:before {
  content: "\e915";
}
.icon-menu-like:before {
  content: "\e916";
}
.icon-menu-list:before {
  content: "\e917";
}
.icon-menu-loyalty-system:before {
  content: "\e918";
}
.icon-menu-meatballs:before {
  content: "\e919";
}
.icon-menu-microphone:before {
  content: "\e91a";
}
.icon-menu-personal-offers:before {
  content: "\e91b";
}
.icon-menu-rassadka:before {
  content: "\e91c";
}
.icon-menu-reviews:before {
  content: "\e91d";
}
.icon-menu-slang:before {
  content: "\e91e";
}
.icon-menu-user:before {
  content: "\e91f";
}
.icon-napitki:before {
  content: "\e920";
}
.icon-points:before {
  content: "\e921";
}
.icon-protein:before {
  content: "\e922";
}
.icon-qr:before {
  content: "\e923";
}
.icon-question-mark:before {
  content: "\e924";
}
.icon-salads:before {
  content: "\e925";
}
.icon-search:before {
  content: "\e926";
}
.icon-share:before {
  content: "\e927";
}
.icon-star:before {
  content: "\e928";
}
.icon-star-fill:before {
  content: "\e929";
}
.icon-top:before {
  content: "\e92a";
}
.icon-trash:before {
  content: "\e92b";
}
.icon-up:before {
  content: "\e92c";
}
.icon-user:before {
  content: "\e92d";
}
.icon-vega:before {
  content: "\e92e";
}
.icon-zakuski:before {
  content: "\e92f";
}
