@use './../mixins' as *;

.cards {

  .form {

    &-body {
      grid-template-columns: repeat(2, 1fr);
    }
    
    &-group {
      
      &:nth-child(1) {
        grid-column: 1/3;
      }
    }

    &-foot {
      gap: 0.8rem;
    }
  }
}