@use './../mixins' as *;

.contacts {

  .layout {

    &__inner {
      gap: 2rem;
    }

    &__body {
      gap: 2rem;
    }

    &__block {

      &-wrap {
        gap: 1rem;
      }

      &-text {

        span {
          font-size: 1rem;
          line-height: 120%;
        }

        a {
          margin: 0;
          text-decoration: none;
        }
      }
    }
  }
}