@use './../mixins' as *;

.dish {

  .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .layout {

    &__head {

      &--sticky {
        position: sticky;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;

        &::before {
          content: "";
          width: calc(100% + (var(--container-padding) * 2));
          height: var(--container-padding);
          background: linear-gradient(to top, transparent 0rem, var(--white) var(--container-padding));
          pointer-events: none;

          position: absolute;
          bottom: calc(var(--container-padding) * -1);
          left: calc(var(--container-padding) * -1);
          z-index: 2;
        }

        &::after {
          content: "";
          display: block;
          width: calc(100% + (var(--container-padding) * 2));
          height: calc(100% + var(--container-padding));
          background-color: var(--white);
          pointer-events: none;

          position: absolute;
          inset: calc(var(--container-padding) * -1);
        }
      }

      &-cover {
        // width: 100vw;
        width: calc(100% + (var(--container-padding) * 2));
        height: 26.8rem;
        margin-left: calc(var(--container-padding) * -1);
      }
    }

    &__body {
      gap: 2rem;
    }

    &__block {
      gap: 2rem;

      &-title {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        font-weight: 900;
        font-size: 1.6rem;
        line-height: 100%;

        p {
          font-size: 1rem;
        }
      }

      &-wrap {
        gap: 1rem;

        &--2 {
          gap: 1.5rem;
        }
      }
    }
  }

  .btn {
    font-weight: 700;
  }
}