@use './../mixins' as *;

.logo {
  width: fit-content;
  // height: 6rem;
  height: 4.7rem;

  img {
    max-width: 100%;
    width: auto;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(0rem 0rem 1.5rem var(--aqua-light));
  }

  svg {
    max-width: 100%;
    width: auto;
    height: 100%;
    filter: drop-shadow(0px 0px 9.5px var(--aqua-light));
    object-fit: contain;
  }
}