@use './../mixins' as *;

.logo {
  width: fit-content;
  // height: 6rem;
  height: 4.7rem;

  img {
    width: auto;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(0rem 0rem 1.5rem var(--aqua-light));
  }

  svg {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 0px 9.5px var(--aqua-light));
    // box-shadow: 0px 0px 9.5px var(--aqua-light);
  }
}