@use './../mixins' as *;

.reviews {

  .layout {

    &__head {
      gap: 2rem;

      &-cover {
        width: 100vw;
        width: calc(100% + (var(--container-padding) * 2));
        height: 26.8rem;
        margin-left: calc(var(--container-padding) * -1);
      }
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &-name {

      * {
        font-weight: 700;
      }
    }

    &-rating {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;

      i {
        font-size: 1.2rem;
        color: var(--orange-light);
      }
    }

    &-date {
      font-size: 1rem;
    }

    &-text {

      * {
        font-size: 1.4rem;
      }
    }

    &-imgs {
      display: flex;
      flex-direction: row;
      gap: 0.8rem;
    }

    &-img {
      border-radius: 0.4rem;
      overflow: hidden;
      width: 8.4rem;
      height: 5.6rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .btn {
    font-weight: 700;
  }
}

.reviews-write {
  background-image: none;

  .layout {}
}