@font-face {
  font-family: 'FabricaIconFont';
  src:  url('fonts/FabricaIconFont.eot?bap1wa');
  src:  url('fonts/FabricaIconFont.eot?bap1wa#iefix') format('embedded-opentype'),
    url('fonts/FabricaIconFont.ttf?bap1wa') format('truetype'),
    url('fonts/FabricaIconFont.woff?bap1wa') format('woff'),
    url('fonts/FabricaIconFont.svg?bap1wa#FabricaIconFont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'FabricaIconFont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-docs:before {
  content: "\e900";
}
.icon-bron:before {
  content: "\e901";
}
.icon-theme:before {
  content: "\e902";
}
.icon-callback:before {
  content: "\e903";
}
.icon-wa:before {
  content: "\e904";
}
.icon-callback-min:before {
  content: "\e905";
}
.icon-wa-min:before {
  content: "\e906";
}
.icon-tg-min:before {
  content: "\e907";
}
.icon-max-min:before {
  content: "\e908";
}
.icon-orientation:before {
  content: "\e909";
}
.icon-foodbook:before {
  content: "\e90a";
}
.icon-menu-reviews-2:before {
  content: "\e90b";
}
.icon-menu-notifications:before {
  content: "\e90c";
}
.icon-tg:before {
  content: "\e90d";
}
.icon-vk:before {
  content: "\e90e";
}
.icon-max:before {
  content: "\e90f";
}
.icon-menu-telephone:before {
  content: "\e910";
}
.icon-menu-call:before {
  content: "\e911";
}
.icon-menu-platform:before {
  content: "\e912";
}
.icon-call:before {
  content: "\e913";
}
.icon-stars:before {
  content: "\e914";
}
.icon-agreement:before {
  content: "\e915";
}
.icon-privacy:before {
  content: "\e916";
}
.icon-client-services:before {
  content: "\e917";
}
.icon-history:before {
  content: "\e918";
}
.icon-kuvshin:before {
  content: "\e919";
}
.icon-cup:before {
  content: "\e91a";
}
.icon-search-2:before {
  content: "\e91b";
}
.icon-menu-catering:before {
  content: "\e91c";
}
.icon-add:before {
  content: "\e91d";
}
.icon-share-2:before {
  content: "\e91e";
}
.icon-business:before {
  content: "\e91f";
}
.icon-ananas:before {
  content: "\e920";
}
.icon-bowl:before {
  content: "\e921";
}
.icon-grapefruit:before {
  content: "\e922";
}
.icon-butylka:before {
  content: "\e923";
}
.icon-bokal:before {
  content: "\e924";
}
.icon-language:before {
  content: "\e925";
}
.icon-home:before {
  content: "\e926";
}
.icon-menu-slang:before {
  content: "\e927";
}
.icon-vega:before {
  content: "\e928";
}
.icon-chef:before {
  content: "\e929";
}
.icon-menu-reviews:before {
  content: "\e92a";
}
.icon-trash:before {
  content: "\e92b";
}
.icon-menu-rassadka:before {
  content: "\e92c";
}
.icon-qr:before {
  content: "\e92d";
}
.icon-points:before {
  content: "\e92e";
}
.icon-search:before {
  content: "\e92f";
}
.icon-menu-meatballs:before {
  content: "\e930";
}
.icon-clock:before {
  content: "\e931";
}
.icon-menu-personal-offers:before {
  content: "\e932";
}
.icon-star:before {
  content: "\e933";
}
.icon-menu-user:before {
  content: "\e934";
}
.icon-menu-like:before {
  content: "\e935";
}
.icon-menu-geo:before {
  content: "\e936";
}
.icon-menu-card:before {
  content: "\e937";
}
.icon-close:before {
  content: "\e938";
}
.icon-user:before {
  content: "\e939";
}
.icon-question-mark:before {
  content: "\e93a";
}
.icon-menu-contacts:before {
  content: "\e93b";
}
.icon-menu-loyalty-system:before {
  content: "\e93c";
}
.icon-menu-list:before {
  content: "\e93d";
}
.icon-menu-microphone:before {
  content: "\e93e";
}
.icon-meatballs:before {
  content: "\e93f";
}
.icon-login:before {
  content: "\e940";
}
.icon-filter:before {
  content: "\e941";
}
.icon-up:before {
  content: "\e942";
}
.icon-carbohydrates:before {
  content: "\e943";
}
.icon-protein:before {
  content: "\e944";
}
.icon-calories:before {
  content: "\e945";
}
.icon-fat:before {
  content: "\e946";
}
.icon-share:before {
  content: "\e947";
}
.icon-hot:before {
  content: "\e948";
}
.icon-top:before {
  content: "\e949";
}
.icon-star-fill:before {
  content: "\e94a";
}
.icon-like:before {
  content: "\e94b";
}
.icon-chevron-right:before {
  content: "\e94c";
}
